<div class="mdsrk-banner-bg">
</div>

<section class="mdsrk-banner">
  <div class="mdsrk-banner-content">
    <h1 class="mdsrk-banner-content-title">
      Medium length
      display headline
    </h1>

    <p class="mdsrk-banner-content-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
      euismod bibendum laoreet. Proin gravida dolor sit amet lacus
      accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
    </p>

    <button mat-button
            class="mdsrk-banner-content-more">
      Подробнее
    </button>
  </div>
</section>

<div class="mdsrk-banner-wave">
</div>
