<!--<div class="mdsrk-about-bg">-->
<!--</div>-->

<section class="mdsrk-about">

  <div class="mdsrk-about-content">
    <h2 class="mdsrk-about-content-title">
      О ПРОЕКТЕ
    </h2>

    <p class="mdsrk-about-content-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
      amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
    </p>

    <button mat-button
            class="mdsrk-about-content-more">
      Как добраться
    </button>
  </div>
  <div class="mdsrk-about-img">

  </div>
</section>

<div class="mdsrk-about-wave">
</div>
