<header class="mdsrk-header">
  <div class="mdsrk-header-info">
    <p class="mdsrk-header-info-phone">
      +375 (33) 375-07-60
    </p>

    <div class="mdsrk-header-info-icons">
      <button class="mdsrk-header-info-icons-instagram">
      </button>

      <div class="mdsrk-header-info-icons-user">
        <button class="mdsrk-header-info-icons-user-search">
        </button>

        <button class="mdsrk-header-info-icons-user-account">
        </button>

        <button class="mdsrk-header-info-icons-user-basket">
        </button>
      </div>
    </div>
  </div>
</header>
