<footer class="mdsrk-footer">

  <div class="mdsrk-footer-container">

    <div class="mdsrk-footer-container-logo">
    </div>

    <div class="mdsrk-footer-container-nav">
      <button mat-button
        class="footer-container-nav-btn">
        Меню
      </button>

      <button mat-button
              class="footer-container-nav-btn">
        Магазин
      </button>

      <button mat-button
              class="footer-container-nav-btn">
        Подписка
      </button>

      <button mat-button
              class="footer-container-nav-btn">
        Доставка
      </button>

      <button mat-button
              class="footer-container-nav-btn">
        Партнерам
      </button>

      <button mat-button
              class="footer-container-nav-btn">
        Контакты
      </button>
    </div>

    <div class="mdsrk-footer-container-icon">
      <button class="mdsrk-footer-container-icon-instagram">
      </button>
    </div>

    <div class="mdsrk-footer-container-line">
    </div>

    <div class="mdsrk-footer-container-info">
      <div class="mdsrk-footer-container-info-company">
        <p class="mdsrk-footer-container-info-company-text">
          ООО "Метаркоф" УНП 193230335 Зарегистрирован Минским Горисполкомом
        </p>
        <p class="mdsrk-footer-container-info-company-text">
          Регистрационный номер в торговом реестре 353939 от 03.10.2016
        </p>

        <p class="mdsrk-footer-container-info-company-text">
          220025 Есенина 23-1-145
        </p>
      </div>

      <div class="mdsrk-footer-container-info-rating">
        <p class="mdsrk-footer-container-info-rating-text">
          Рейтинг: 4.2 (На основе 19 отзывов)
        </p>
        <p class="mdsrk-footer-container-info-rating-text">
          Разработка и продвижение сайта Mediashark.by
        </p>
      </div>

    </div>
  </div>


</footer>
